.idea
channelaccesstoken.txt
FinMind token.txt
heroku帳密.txt
tsmc-monitor-2a246d265897.json

# Python 相關
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# 環境變數與敏感檔案
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日誌與暫存檔
*.log
error.log

# Heroku 產生的檔案
.heroku/

# 其他不必要的
.DS_Store
Thumbs.db